@import url('https://fonts.googleapis.com/css?family=Raleway');
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Raleway";
}

.navbar {
    background: #F97300;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px;
}

 :-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.navbar-brand {
    margin-left: 1.5rem!important;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.bg-dark {
    background-color: #343a40!important
}

.bg-primary {
    background-color: #007bff!important
}


/*header style*/

.header {
    background-image: url('./../images/images1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #F97300;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: #F97300;
    margin: 2em;
}

.about img {
    height: 100%;
    width: 100%;
    border-radius: 50%
}

.about span {
    display: block;
    color: #888;
    text-align: center;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.about .desc h3 {
    color: #10828C;
}

.about .desc p {
    line-height: 2;
    color: #888;
}


/*Portfolio*/

.portfolio {
    margin: 4em 0;
    position: relative;
}

.portfolio h1 {
    color: #F97300;
    margin: 2em;
}

.portfolio img {
    height: 15rem;
    width: 100%;
    margin: 1em;
}

.blog {
    position: relative;
}

.blog h1 {
    color: #F97300;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2rem;
}

.blog .card {
    box-shadow: 0 0 20px #ccc;
}

.blog .card img {
    width: 100%;
    height: 12em;
}

.blog .card-title {
    color: #F97300;
}

.blog .card-body {
    padding: 1em;
}

.team {
    margin: 4em 0;
    position: relative;
}

.team h1 {
    color: #F97300;
    margin: 2em;
}

.team .item {
    position: relative;
}

.team .des {
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition: .3s ease-in-out;
}

.team .item:hover .des {
    height: 100%;
    background: #f973007d;
    position: absolute;
    width: 294px;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}

.contact-form {
    margin: 6em 0;
    position: relative;
}

.contact-form h1 {
    padding: 2em 1px;
    color: #F97300;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: #F97300;
    color: #fff;
    border: 0;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}

.contact-form .form-group {
    margin-bottom: 1rem;
    position: relative;
}

.contact-form::before {
    content: '';
    position: absolute;
    background: rgba(244, 244, 244, 0.79);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}


/*form.html*/

.form-search {
    position: relative;
    padding: 1rem;
}

.form-search::before {
    position: absolute;
    content: '';
    background: rgba(244, 244, 244, 0.79);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.form-control-set {
    width: 120px;
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
    padding-bottom: 0.3rem;
}

.item-search {
    font-size: 15px!important;
    position: relative;
    left: -30px;
}

.form-control-set-small {
    width: 60px;
    border: 2px solid black;
}

.form-control-set-big {
    background: rgba(244, 244, 244, 0.79);
    border: 1px solid gray;
    border-radius: 2px;
    height: 30px;
    width: 155px;
}

.arrow-down {
    height: 30px;
    width: 30px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 2px;
}

.form-control-set-small-two {
    width: 75px;
    border: 2px solid black;
}

.form-control-set-big-two {
    background: rgba(244, 244, 244, 0.79);
    border: 1px solid gray;
    border-radius: 2px;
    height: 30px;
    width: 230px;
}

.form-control-set-col-2 {
    background: rgba(244, 244, 244, 0.79);
    border: 1px solid gray;
    border-radius: 2px;
    height: 30px;
    width: 75px;
}

.form-control-set-col-2-2-right {
    background: rgba(244, 244, 244, 0.79);
    border: 1px solid gray;
    border-radius: 2px;
    height: 30px;
    width: 55px;
}

.form-control-set-col-2-2-left {
    width: 45px;
    border: 2px solid black;
}

.title-text {
    margin-right: 15px;
}

.form-control-set-small-two-col-2 {
    background: rgba(244, 244, 244, 0.79);
    border: 1px solid gray;
    border-radius: 2px;
    height: 30px;
    width: 280px;
}

.form-control-set-small-two-col-4 {
    border: 1px solid gray;
    border-radius: 2px;
    height: 30px;
    width: 145px;
}

.form-control-set-small-two-col-3 {
    background: rgba(244, 244, 244, 0.79);
    border: 1px solid gray;
    border-radius: 2px;
    height: 30px;
    width: 190px;
}

.form-control-set-small-two-col-3-white {
    border: 1px solid grey;
    border-radius: 2px;
    background: #fff;
    width: 270px;
}

.result-form {
    margin-top: 40px;
}

.form-result {
    width: 120px;
    background: rgba(244, 244, 244, 0.79);
    margin-left: 8px;
    margin-right: 8px;
}

.text-result {
    margin-left: 8px;
    margin-right: 8px;
}

.form-select-input {
    width: 80px;
}

.arrow-select {
    content: "";
    position: absolute;
    top: 30%;
    right: 15%
}

.list-product {
    margin-top: 16px;
    background-color: #6495ED;
    padding-right: 8px;
    padding-left: 8px;
}

.list-product ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}