<head>
    <title>CMC Ciber</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/toastr.min.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/hong.css" />

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" id="about" data-value="about" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="porfolio" data-value="porfolio" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="blog" data-value="blog" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="team" data-value="team" href="#"> Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact" data-value="contact" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="header">
        <div class="overlay">
            <div class="container">
                <div class="description ">
                    <h1> Hello ,Welcome To My official Website
                        <p> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <button class="btn btn-outline-secondary btn-lg">See more</button> </h1>
                </div>
            </div>
        </div>
    </header>
    <div class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="images/images1.jpg" class="img-fluid">
                    <span class="text-justify">S.Web Developer</span>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 desc">
                    <h3>D.John</h3>
                    <p>
                        ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="porfolio" id="porfolio">
        <div class="container">
            <div class="row">
                <!-- portfolio -->
                <div class="portfolio">
                    <h1 class="text-center">Portfolio</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="blog" id="blog">
        <div class="container">
            <div class="row">
                <!-- Posts section -->
                <div class="blog">
                    <div class="container">
                        <h1 class="text-center">Blog</h1>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Post Title</h4>
                                        <p class="card-text">

                                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="" class="card-link">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                                    </div>

                                    <div class="card-body">
                                        <h4 class="card-title">Post Title</h4>
                                        <p class="card-text">

                                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="" class="card-link">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                                    </div>

                                    <div class="card-body">
                                        <h4 class="card-title">Post Title</h4>
                                        <p class="card-text">

                                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="" class="card-link">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team" id="team">
        <div class="container">
            <div class="row">
                <!-- Team section -->
                <div class="team">
                    <div class="container">
                        <h1 class="text-center">Our Team</h1>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 item">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                                <div class="des">
                                    Sara
                                </div>
                                <span class="text-muted">Manager</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 item">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                                <div class="des">
                                    Chris
                                </div>
                                <span class="text-muted">S.Enginner</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 item">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                                <div class="des">
                                    Layla
                                </div>
                                <span class="text-muted">Front End Developer</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 item">
                                <img src="images/images1.jpg" class="img-fluid" alt="img-fluid">
                                <div class="des">
                                    J.Jirard
                                </div>
                                <span class="text-muted">Team Manger</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <!-- Contact form -->
                <div class="contact-form">
                    <div class="container">
                        <form>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <h1>Get in Touch</h1>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 right">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="your-name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control form-control-lg"></textarea>
                                    </div>
                                    <input type="submit" class="btn btn-secondary btn-block" value="Send" name="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="js/wow.min.js" defer></script>
<script src="js/bootstrap.min.js" defer></script>
<script src="js/swiper.js" defer></script>
<script src="js/script.js" defer></script>
<script src="js/hong.js" defer></script>
<script src="js/jquery-3.4.1.min.js" defer></script>