<head>
    <title>CMC Ciber</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/toastr.min.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/hong.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <h3>XXXXX</h3>
    <section class="form-search">
        <div class="container-fluid">
            <form>
                <div class="select-form">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">XXXXX</label>
                                </div>
                                <div class="form-group col-md-10 d-flex align-items-center mb-2">
                                    <input type="text" class="form-control-set" id="" placeholder="10/26/2020">
                                    <i class="fa fa-calendar-o item-search" aria-hidden="true"></i>
                                    <span style="margin-right: 10px">~</span>
                                    <input type="text" class="form-control-set" id="" placeholder="10/26/2020">
                                    <i class="fa fa-calendar-o item-search" aria-hidden="true"></i>
                                </div>
                                <div class="form-group col-md-2 mb-2">
                                    <label for="inputEmail4">XX</label>
                                </div>
                                <div class="form-group col-md-10 mb-2 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small" id="" placeholder="">
                                    <div class="button-arrow">
                                        <button class="arrow-down">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                    </div>
                                    <input type="text" class="form-control-set-big" id="" placeholder="">
                                </div>
                                <div class="form-group col-md-2 mb-2">
                                    <label for="inputEmail4">XX</label>
                                </div>
                                <div class="form-group col-md-10 mb-2 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small" id="" placeholder="">
                                    <div class="button-arrow">
                                        <button class="arrow-down">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                    </div>
                                    <input type="text" class="form-control-set-big" id="" placeholder="">
                                </div>
                                <div class="form-group col-md-2 mb-2">
                                    <label for="">XXX</label>
                                </div>
                                <div class="form-group col-md-10 mb-2 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small-two" id="" placeholder="">
                                    <div class="button-arrow">
                                        <button class="arrow-down">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                    </div>
                                    <input type="text" class="form-control-set-big-two" id="" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="row">
                                <div class="form-group col-md-6 mb-2 d-flex align-items-center">
                                    <label for="" class="title-text">XXXX</label>
                                    <input type="text" class="form-control-set-small" id="" placeholder="">
                                    <div class="button-arrow">
                                        <button class="arrow-down">
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button>
                                    </div>
                                    <input type="text" class="form-control-set-col-2" id="" placeholder="">
                                </div>
                                <div class="form-group col-md-6 mb-2 d-flex align-items-center">
                                    <label for="" class="title-text">XXXXX</label>
                                    <input type="text" class="form-control-set-col-2-2-left" id="" placeholder="">
                                    <div class="button-arrow">
                                        <button class="arrow-down">
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button>
                                    </div>
                                    <input type="text" class="form-control-set-col-2-2-right" id="" placeholder="">
                                </div>
                                <div class="form-group col-md-2 mb-2 pd-0 css-form-group">
                                    <label for="">XXXX</label>
                                </div>
                                <div class="form-group col-md-10 mb-2 px-0 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small-two" id="" placeholder="">
                                    <div class="button-arrow">
                                        <button class="arrow-down">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                    </div>
                                    <input type="text" class="form-control-set-small-two-col-2" id="" placeholder="">
                                </div>
                                <div class="form-group col-md-2 mb-2 pd-0 css-form-group">
                                    <label for="">XX</label>
                                </div>
                                <div class="form-group col-md-10 mb-2 px-0 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small-two" id="" placeholder="">
                                    <div class="button-arrow">
                                        <button class="arrow-down">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                    </div>
                                    <input type="text" class="form-control-set-small-two-col-2" id="" placeholder="">
                                </div>
                                <div class="form-group col-md-2 mb-2 px-0 css-form-group">
                                    <label for="inputEmail4">XXXX</label>
                                </div>
                                <div class="form-group col-md-4 px-0 mb-2 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small-two-col-4" id="" placeholder="">
                                </div>
                                <div class="form-group col-md-2 mb-2 px-0 css-form-group">
                                    <label for="inputEmail4">XXXXXX</label>
                                </div>
                                <div class="form-group col-md-4 px-0 mb-2 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small-two-col-4" id="" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="row">
                                <div class="form-group col-md-2 mb-2">
                                    <label for="">XXXXXXX</label>
                                </div>
                                <div class="form-group col-md-10 mb-2 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small-two-col-3-white" id="" placeholder="">
                                </div>
                                <div class="form-group col-md-2 mb-2">
                                    <label for="">XXXXXXX</label>
                                </div>
                                <div class="form-group col-md-10 mb-2 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small-two-col-3-white" id="" placeholder="">
                                </div>
                                <div class="form-group col-md-2 mb-2">
                                    <label for="">XXXXXXX</label>
                                </div>
                                <div class="form-group col-md-10 mb-2 d-flex align-items-center">
                                    <input type="text" class="form-control-set-small-two" id="" placeholder="">
                                    <div class="button-arrow">
                                        <button class="arrow-down">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </button>
                                    </div>
                                    <input type="text" class="form-control-set-small-two-col-3" id="" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </section>
    <section class="result-form">
        <form>
            <div class="form-row">
                <div class="result-form align-items-center text-align-center">
                    <div class="title-form d-flex align-items-center">
                        <label for="inputCity" class="text-result">XX</label>
                        <label for="inputCity" class="text-result">XXXX</label>
                        <input type="text" class="form-control  form-result" id="">
                        <label for="inputState" class="text-result">XXXXXXX</label>
                        <div class=" form-group position-relative">
                            <select id="inputState " class="form-control form-select-input">
                              <option selected>XX</option>
                              <option>...</option>
                            </select>
                            <i class="fa fa-angle-down arrow-select" aria-hidden="true"></i>
                        </div>
                        </select>
                    </div>
                </div>
                <div class="list-product">
                    <ul>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                        <li>X</li>
                    </ul>
                </div>
                <p>XXXXXXXXXXX</p>
            </div>
        </form>
    </section>
</body>
<script src="js/jquery-3.4.1.min.js " defer></script>
<script src="js/wow.min.js " defer></script>
<script src="js/bootstrap.min.js " defer></script>
<script src="js/swiper.js " defer></script>
<script src="js/script.js " defer></script>
<script src="js/hong.js " defer></script>